
        <a class="col-md-2"></a>
        <div class="intro container col-md-8" style="background-color: transparent !important;">
            <h5 style="margin-bottom: 10%;">
                <p>Have a busy schedule and can't get everything done in one day?</p>
                <p>No problem. Taskie is here to solve your busy day.</p>
                <p>Sign up today, post your tasks, and let the community help you out.</p>
            </h5>
        </div>

        <div class="row">
          <a class="col-md-4"></a>
              <button type="button" onclick="document.getElementById('id01').style.display='block'" class="button4 col-md-4"><a href="signup">Get Started Now</a></button>
        </div>
