<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Log out</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <p>Hello, The UserID is: {{user.id}} {{user.firstName}} {{user.lastName}}</p>
        <form action="/api/task" method="post">
          <div class="form-group">
            <label>Task</label>
            <input type="text" class="form-control" name="task">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Add</button>
        </form>
        <div id="tasks"></task>

        <script>
          var taskDiv = $('#tasks');

          $.ajax({
            url: '/api/profile',
            method: 'GET'
          }).then((response) => {
            console.log(response);
            for (var i=0; i<response.length; i++) {
              var p = $(`<p>${response[i].description}</p>`);
              taskDiv.append(p);
            }
          });
        </script>
    </body>
</html>
