
<nav>
    <ul>
        <li><a href="/auth/logout">Log out</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>
<p>Hello, The UserID is: {{user.id}} {{user.firstName}} {{user.lastName}}</p>
<form action="profile/api/task" method="post">
  <div class="form-group">
    <label>Task</label>
    <input type="text" class="form-control" name="task">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Add</button>
</form>
<div id="myTasks">
  <h2>My Tasks</h2>
</div>

<div id="allTasks">
  <h2>Others' Tasks</h2>
</div>

<div id="pickedUp">
  <h2>My Picked Up Tasks</h2>
</div>
<script>let id = {{user.id}}</script>
<script src="./js/taskie.js"></script>
