<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login to Taksie</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="public/css/styles.css" type="text/css"/>
        <link rel="stylesheet" href="public/css/login.css" type="text/css"/>
    </head>
    <body>
        <header>
        <div id="headerinline" class="row">
                <h1 id="logo" class="col-md-6" style="margin-right: 292px;">Taskie</h1>
                <button type="button" class="button3"><a href="index.handlebars">Home</a></button>
                <button type="button" class="button3"><a href="about.handlebars">About</a></button>
                <button type="button" class="button3"><a href="contact.handlebars">Contact Us</a></button>
                <button type="button" class="button2"><a href="login.handlebars">Sign In</a></button>
                <button type="button" class="button1"><a href="signup.handlebars">Sign Up</a></button>
            </div>
        </header>
        <a href="/auth/google">Google+</a>
        <h2 class="intro container" style="color: white; margin-top: 323px; margin-left: 850px; background-color: transparent !important;">Taskie Login</h2>

<button style="margin-left: 900px; margin-bottom: 350px;" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"class="button4">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button class="loginbtn" type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn2">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {  
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
    </script>
        <nav class="navbar fixed-bottom navbar-light bg-light ">
            <a class="navbar-text " href="# ">© 2017 Taskie</a>
        </nav>
    </body>
</html>